.nav{

    background-color: black;
    min-height: 8vh;
    h1{
        background-color: #3c3a3a;
        font-family: 'Beau Rivage', cursive;
        color: red;
    }
        .logo{
            width: 10rem;
            padding-left: 2rem;
        }
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000000;
    form{
        background-color: #000000;
        display: flex;
        justify-content: center;
        
    }
    input{
        margin-top: 1rem;
        height: 30px;
        width: 15vw;
        background-color: #ffffff;
        color: black;
        border-radius: 2rem;
        font-size-adjust: 1px;
        border: none;
    }

}
button{
    border: none;
    border-radius: 100px;
    background-color: #000000;
}
